$warnaPrimer:blue;
$warnaInverse:white;
$border:3px solid yellow;
$padding:3em;

.primer{
    background-color: $warnaPrimer;
    color: $warnaInverse;
    border: $border;
    padding: $padding;
}
.inverse-primer{
    background-color: $warnaInverse;
    color: $warnaPrimer;
    border: $border;
    padding: $padding;
}